<h1> User Profile </h1>

	
	name: <%= @user.name %><br>
	username: <%= @user.username%><br>
	


	<% if @users_boats %>
		<% @users_boats.each do |ship| %>
				
				user id :<%= ship.user_id%>
				user name:<%= ship.user.name%> |
				<%= image_tag ship.boat.avatar.url(:thumb) %> 
				boat id : <%= ship.boat_id%>
				boat name :<%= ship.boat.name%>
				boat container size : <%= ship.boat.container_size %>
				<%= locs[ship.boat.current_loc.to_i][0] %> | 
				boat jobs : <%= link_to ship.boat.name, boat_path(ship.boat_id)%>
				<%= link_to 'Delete this ship', boats_delete_path(ship.boat_id), :method => "delete", data: { confirm: 'Are you sure?' }%><br/>
			
		<% end %>
	<% end %>

	<%= link_to 'add boat', new_boat_path%>


<h1>show other's boat</h1>

<%if @all_boats %>
	<% @all_boats.each do |boat|%>
		
		<%= image_tag boat.avatar.url(:thumb) %>
		boat name:<%= boat.name%> 
		user name:<%@all_users_boats.where(boat_id: boat.id).each do |user_boat| %>
		<%= user_boat.user.username%><br/>
		<%end%>

	<%end%>
<%end%>