<h1>EDIT YOUR BOAT</h1>

<%= form_for @boat do |f|%>
	<% if @boat.errors.full_messages.any? %>  
	<ul>     
		<% @boat.errors.full_messages.each do |error_message| %>      
	 	 <li><%= error_message %></li> <br />     
	 	 <% end %>   
	</ul> 
	<% end %>
<%end%>	



<%=form_for @boat do |f| %>
	<%= f.file_field :avatar %>
	<%= f.label :name %>
	<%= f.text_field :name %><br><br>
	<%= f.label :current_loc %>
	<%= f.select( :current_loc, options_for_select(@locs)) %>
	<br><br>
	<%= f.label :container_size %>
	<%=f.number_field :container_size %><br>
	<br>
	<%= f.submit %>


<% end %>